@using JobSearchApp.BusinessLogic.DTOs
@model IEnumerable<MatchDto>


<a asp-controller="Home" asp-action="HomeLoggedPage" style="margin-left: 3rem; display: inline-flex; align-items: center;">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path style="color: #1F4D78;" fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
</a>

@if (Model.Any())
{
    <div class="container" style="padding-left: 5px; padding-right: 5px;">
        <div class="row">
            @foreach (var m in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100" style="background-color: #f5f5f5; border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #1d3e81;">@m.JobTitle</h5>
                            <p class="card-text" style="color: #000;">Fecha del match: @m.MatchDate.ToString("yyyy-MM-dd")</p>
                            @if (m.IsAccepted == true)
                            {
                                <p class="card-text" style="color: #000; font-weight: bold;">Estado de la oferta: Has sido seleccionado! Pronto te contactaran :)</p>
                            }
                            <p class="card-text" style="background-color: #e9ecef; padding: 10px; border-radius: 4px; color: #000;">
                                Nombre de la compañia: @m.JobOffer.CompanyName
                            </p>
                            <p class="card-text" style="background-color: #C1C1C1; height: 150px; border-radius: 
                                4px; padding: 10px;">@m.JobOffer.Description</p>
                            <div class="d-flex justify-content-end">
                                <a asp-controller="Feedback" asp-action="ViewFeedBackCandidatePage" asp-route-id="@m.ApplicationId" class="btn btn-primary">Ver Feedback</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-info" style="background-color: #e9ecef; color: #1d3e81; border-radius: 8px;">
        Aun no tienes matches, sigue intentando que lo conseguiras!
    </div>
}
