@using JobSearchApp.BusinessLogic.DTOs

@model WorkExperienceDto

<link rel="stylesheet" href="~/css/jobOffer.css" type="text/css" />

<a asp-controller="Profile" asp-action="ProfileOwnerUserPage" style="margin-left: 3rem;">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path style="color: #1F4D78;" fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
</a>

<h2 style="margin-left: 8.6rem;">Editar Experiencia Laboral</h2>
<form action="~/WorkExperience/UpdateExperience" method="post" class="job-offer-form">
    <input type="hidden" name="WorkExperienceId" value="@Model.WorkExperienceId" />
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <div class="form-group">
        <label for="CompanyName">Nombre de Compañia</label>
        <input type="text" id="CompanyName" name="CompanyName" class="form-control" value="@Model.CompanyName" required />
    </div>
    <div class="form-group">
        <label for="JobTitle">Puesto de Trabajo</label>
        <input type="text" id="JobTitle" name="JobTitle" class="form-control" value="@Model.JobTitle" required />
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="StartDate">Fecha Inicio</label>
            <input type="date" id="StartDate" name="StartDate" class="form-control" value="@Model.StartDate.ToString("yyyy-MM-dd")" required />
        </div>
        <div class="form-group col-md-6">
            <label for="EndDate">Fecha Finalización</label>
            <input type="date" id="EndDate" name="EndDate" class="form-control" value="@Model.EndDate.ToString("yyyy-MM-dd")" required />
        </div>
    </div>
    <div class="form-group">
        <label for="Description">Descripción</label>
        <textarea id="Description" name="Description" class="form-control" required>@Model.Description</textarea>
    </div>
    <div class="form-group">
        <label for="Location">Ubicación</label>
        <textarea id="Location" name="Location" class="form-control" required>@Model.Location</textarea>
    </div>
    <div class="button-container">
        <button type="submit" style="width: 190px;" class="btn btn-primary">Guardar Experiencia</button>
    </div>
</form>
