@using JobSearchApp.BusinessLogic.DTOs
@model ApplicationDto

<a asp-controller="Match" asp-action="ListMatchesBusinessRecruiterPage" style="margin-left: 3rem; display: inline-flex; align-items: center;">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path style="color: #1F4D78;" fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
</a>

<h1 style="margin-left: 2rem;">Dar Feedback</h1>

<hr />
<div class="container mt-5">
    <div class="card p-4 shadow">
        <h1 class="mb-4">@Model.JobOffer.Title</h1>
        <h2 class="mb-4 text-secondary">Candidato: @Model.User.FirstName</h2>

        <form action="~/Feedback/CreateNewFeedBack" method="post">
            <input type="hidden" name="ApplicationId" value="@Model.ApplicationId" />
            <input type="hidden" name="RecruiterId" value="@ViewBag.RecruiterId" />
            <input type="hidden" name="page" value="@ViewBag.Page" />

            <div class="form-group mb-4">
                <label for="feedbackText" class="form-label" style="font-weight: bold;">Feedback</label>
                <textarea id="feedbackText" name="FeedbackText" class="form-control" rows="5" placeholder="Escribe tu feedback aquí..." style="border-radius: 10px; padding: 15px;"></textarea>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary" style="border-radius: 10px; padding: 10px;">Enviar Feedback</button>
            </div>
        </form>
    </div>
</div>
