@using JobSearchApp.BusinessLogic.DTOs
@using JobSearchApp.Domain.Models

@model UserDto



<h1>@Model.UserName</h1>

@if (Model.Educations != null)
{
    <div class="container p-1" style="background-color:red;">
        @foreach (Education edu in Model.Educations)
        {
            <div class="row p-5 m-4" style="background-color: #F5F5F5; border-radius: 15px;">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <!-- Contenedor para el título y la descripción -->
                    <div class="flex-grow-1 mb-3 mb-md-0">
                        <h1 class="mb-0">@edu.SchoolName</h1>
                        <h3 class="mb-0">Descripción</h3>
                        <p class="mb-0">lorem ipsum</p>
                    </div>

                    <!-- Contenedor para los botones -->
                    <div class="ms-auto d-flex align-items-center">
                        <a class="btn btn-primary me-2" asp-area="" asp-controller="Education" asp-action="FormEditEducationPage" asp-route-id="@edu.EducationId">Editar</a>
                        <form asp-controller="Education" asp-action="DeleteEducation" method="post" class="mb-0">
                            <input type="hidden" name="id" value="@edu.EducationId" />
                            <button type="submit" class="btn btn-primary">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (Model.WorkExperiences != null)
{
    <div class="container p-1" style="background-color:red;">
        @foreach (WorkExperience we in Model.WorkExperiences)
        {
            <div class="row p-5 m-4" style="background-color: #F5F5F5; border-radius: 15px;">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <!-- Contenedor para el título y la descripción -->
                    <div class="flex-grow-1 mb-3 mb-md-0">
                        <h1 class="mb-0">@we.CompanyName</h1>
                        <h3 class="mb-0">Descripción</h3>
                        <p class="mb-0">lorem ipsum</p>
                    </div>

                    <!-- Contenedor para los botones -->
                    <div class="ms-auto d-flex align-items-center">
                        <a class="btn btn-primary me-2" asp-area="" asp-controller="WorkExperience" asp-action="FormEditExperiencePage" asp-route-id="@we.WorkExperienceId">Editar</a>
                        <form asp-controller="WorkExperience" asp-action="DeleteExperience" method="post" class="mb-0">
                            <input type="hidden" name="id" value="@we.WorkExperienceId" />
                            <button type="submit" class="btn btn-primary">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}

<a class="btn btn-primary" asp-area="" asp-controller="Education" asp-action="FormNewEducationPage">Añaidr nueva Educación</a>
<a class="btn btn-primary" asp-area="" asp-controller="WorkExperience" asp-action="FormNewExperiencePage">Añadir Nueva Experiencia</a>
