@using JobSearchApp.BusinessLogic.DTOs
@using JobSearchApp.Domain.Models

@model UserDto

<a asp-controller="Home" asp-action="HomeLoggedPage" style="margin-left: 2rem;">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path style="color: #1F4D78;" fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
</a>

<div class="container mt-2">
    <form action="~/Profile/UpdateUserPersonalData" method="post">
        <div class="card p-3">
            <div class="row position-relative">
                <div class="col-2">
                    <img src="~/lib/img/perifl-icon.jpg" alt="Profile Image" class="rounded-circle mb-3" width="150" height="150">
                    <h5 class="fw-bold mb-1">@Model.UserName</h5>
                    <br />
                    <h6 style="font-weight: bold;">Título Profesional</h6>
                    <p class="fw-bold mb-1 text-muted" id="Headline">@Model.Headline</p>
                </div>

                <div class="col-10">
                    <button type="button" class="btn btn-primary position-absolute" style="top: 0; right: 0;margin-right:10px;" onclick="enableEditing()" id="button-edit">Editar</button>


                    <div id="edit-buttons" style="display: none; flex; justify-content: flex-end; position: absolute; top: 0; right: 0;">
                        <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Confirmar</button>
                        <button class="btn btn-primary" onclick="edit2()">Cancelar</button>
                    </div>

                    <div style="display: flex; align-items: center; margin-bottom: 8px;">
                        <p style="margin: 0; width: 100px;"><strong>Nombre</strong></p>
                        <div class="bg-opacity-25 rounded" style="padding: 5px; flex-grow: 1;" id="FirstName">@Model.FirstName</div>
                    </div>

                    <div style="display: flex; align-items: center; margin-bottom: 8px;">
                        <p style="margin: 0; width: 100px;"><strong>Apellidos</strong></p>
                        <div class="bg-opacity-25 rounded" style="padding: 5px; flex-grow: 1;" id="LastName">@Model.LastName</div>
                    </div>

                    <div style="display: flex; align-items: center; margin-bottom: 8px;">
                        <p style="margin: 0; width: 100px;"><strong>Género</strong></p>
                        <div class="bg-opacity-25 rounded" style="padding: 5px; width: 75%;" id="GenderIdentity">@Model.GenderIdentity</div>
                    </div>

                    <div style="display: flex; align-items: center; margin-bottom: 8px;">
                        <p style="margin: 0; width: 100px;"><strong>Ubicación</strong></p>
                        <div class="bg-opacity-25 rounded" style="padding: 5px; flex-grow: 1;" id="Location">@Model.Location</div>
                    </div>

                    <div style="display: flex; align-items: center; margin-bottom: 8px;">
                        <p style="margin: 0; width: 100px;"><strong>LinkedIn</strong></p>
                        <div class="bg-opacity-25 rounded" style="padding: 5px; width: 75%;" id="LinkedInUrl">@Model.LinkedInUrl</div>
                    </div>

                    <div style="display: flex; align-items: center; margin-bottom: 8px;">
                        <p style="margin: 0; width: 100px;"><strong>Teléfono</strong></p>
                        <div class="bg-opacity-25 rounded" style="padding: 5px; width: 50%;" id="MobileNumber">@Model.MobileNumber</div>
                    </div>

                    <div style="display: flex; align-items: center; margin-bottom: 8px;">
                        <p style="margin: 0; width: 100px;"><strong>Correo</strong></p>
                        <div class="bg-opacity-25 rounded" style="padding: 5px; width: 50%;">@Model.Email</div>
                    </div>

                </div>
            </div>

            <hr>
            <div>
                <h5 class="fw-bold mb-1">Descripción</h5>
                <div class="bg-opacity-25 rounded mb-2" style="height: 20px;" id="Summary">@Model.Summary</div>
            </div>

        </div>
    </form>
</div>

@if (Model.Educations != null)
{
    <div class="card container p-1" style="border-radius: 10px; margin-top: 3%; background-color: #F5F5F5;">
        <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
            <h1 style="margin-left: 20px;">Educaciones📚</h1>
            <a class="btn btn-primary" style="margin-right:15px;" asp-area="" asp-controller="Education" asp-action="FormNewEducationPage">Añadir</a>
        </div>

        @foreach (Education edu in Model.Educations)
        {
            <div class="card row p-5 m-3" style=" border-radius: 10px;">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <!-- Contenedor para el título y la descripción -->
                    <div class="flex-grow-1 mb-3 mb-md-0">
                        <h1 class="mb-0">@edu.SchoolName</h1>
                        <h3 class="mb-0">Descripción</h3>
                        <p class="mb-0">lorem ipsum</p>
                    </div>

                    <!-- Contenedor para los botones -->
                    <div class="ms-auto d-flex align-items-center">
                        <a class="btn btn-primary me-2" asp-area="" asp-controller="Education" asp-action="FormEditEducationPage" asp-route-id="@edu.EducationId">Editar</a>
                        <form asp-controller="Education" asp-action="DeleteEducation" method="post" class="mb-0">
                            <input type="hidden" name="id" value="@edu.EducationId" />
                            <button type="submit" class="btn btn-primary">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />

}

@if (Model.WorkExperiences != null)
{
    <div class="card container " style="padding:12px; border-radius: 10px; background-color: #F5F5F5;">
        <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
            <h1 style="margin-left: 20px;">Experiencia Laboral💼</h1>
            <a class="btn btn-primary" style="margin-right:15px;" asp-area="" asp-controller="WorkExperience" asp-action="FormNewExperiencePage">Añadir</a>
        </div>
        @foreach (WorkExperience we in Model.WorkExperiences)
        {
            <div class="card row p-5 m-3" style=" border-radius: 10px;">
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <!-- Contenedor para el título y la descripción -->
                    <div class="flex-grow-1 mb-3 mb-md-0">
                        <h1 class="mb-0">@we.CompanyName</h1>
                        <h3 class="mb-0">Descripción</h3>
                        <p class="mb-0">lorem ipsum</p>
                    </div>

                    <!-- Contenedor para los botones -->
                    <div class="ms-auto d-flex align-items-center">
                        <a class="btn btn-primary me-2" asp-area="" asp-controller="WorkExperience" asp-action="FormEditExperiencePage" asp-route-id="@we.WorkExperienceId">Editar</a>
                        <form asp-controller="WorkExperience" asp-action="DeleteExperience" method="post" class="mb-0">
                            <input type="hidden" name="id" value="@we.WorkExperienceId" />
                            <button type="submit" class="btn btn-primary">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}


<script src="~/js/profile.js"></script>