@model IEnumerable<JobSearchApp.BusinessLogic.DTOs.JobOfferDto>

<h1>@ViewBag.Title</h1>

<link rel="stylesheet" href="~/css/jobOffer.css" type="text/css" />
<div class="button-filter">
    <button type="button" class="btn btn-primary">Filtro</button>
    <a class="btn btn-primary" class="nav-link text-white" asp-area="" asp-controller="JobOffers" asp-action="FormNewJobOfferPage">Añadir Nueva</a>

</div>

<div class="job-offers">
    <!-- Repeat the .job-offer-card div for more offers -->
    @foreach (var jobOffer in Model)
    {
        <div class="job-offer-card">
            <h3>@jobOffer.Title</h3>
            <p>@jobOffer.Description</p>
            @if (ViewBag.SearchCandidate == "False")
            {
                <p>@jobOffer.PostedDate</p> 
                <div class="description-placeholder">
                    <!-- Añadir la descripcion que contiene el job offer a la hora de recorrer la lista -->
                </div>
                <button class="edit-button">✏️</button>
            }

            <a class="btn btn-primary nav-link text-white" asp-area="" asp-controller="JobOffers" asp-action="SaveJobOfferIdAndSearchCandidate" asp-route-id="@jobOffer.JobOfferId">Buscar Candidato</a>
            <a class="btn btn-primary nav-link text-white" asp-area="" asp-controller="JobOffers" asp-action="ListCandidatesPostulatedJobOfferPage" asp-route-id="@jobOffer.JobOfferId">Revisar candidatos postulados</a>
        </div>
    }
    <!-- Add more job offer cards as needed -->
</div>
