@using JobSearchApp.BusinessLogic.DTOs
@model UserDto

<link rel="stylesheet" href="~/css/cardsJobOffers.css" type="text/css" />

<h1>Buscando a @ViewBag.NameOffer</h1>

<div class="job-card container mt-4">
    <h3>@Model.Headline</h3>
    <div class="tags mb-2">
        <span class="tag">@Model.Location</span>
        <span class="tag">@Model.Email</span>
        <span class="tag">@Model.MobileNumber</span>
        <span class="tag">@Model.LinkedInUrl</span>
    </div>
    <p>Descripción</p>
    <div class="description-placeholder mb-5">
        <p>@Model.Summary</p>
    </div>
    <div class="action-buttons">
        <div class="action-buttons-container">
            <form asp-action="DislikeJobOffer" method="post">
                <input type="hidden" name="jobOfferId" value="@Model.UserId" />
                <button type="submit" class="action-button reject">✖️</button>
            </form>
            <form asp-action="SaveJobOffer" method="post">
                <input type="hidden" name="jobOfferId" value="@Model.UserId" />
                <button type="submit" class="action-button save">🔖</button>
            </form>
            <form asp-action="LikeJobOffer" method="post">
                <input type="hidden" name="jobOfferId" value="@Model.UserId" />
                <button type="submit" class="action-button accept">✔️</button>
            </form>
        </div>
    </div>
</div>
