@using JobSearchApp.BusinessLogic.DTOs

@model IEnumerable<UserSkillDto>

<link rel="stylesheet" href="~/css/preference.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">

<a asp-controller="Home" asp-action="HomeLoggedPage" style="margin-left: 0.5rem;">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path style="color: #1F4D78;" fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
</a>

<div class="title-edit-container mb-4 ms-3 me-3">
    <h1>MIS SOFT SKILLS</h1>
    <a asp-controller="SeeAll" asp-action="ListOfSeeAllPage" style="width: 15%; margin-right: 10rem;" class="btn btn-primary">Ver Todo</a>
</div>

<div class="preference-tags ms-3 me-3">
    @foreach (var skills in Model)
    {
        @if (skills.Skill.SkillType == "Soft")
        {
            <div class="tag">
                <!-- Display the skill name -->
                <span class="SkillName" data-id="@skills.Skill.SkillId">@skills.Skill.SkillName</span>

                <!-- Edit Form (initially hidden) -->
                <form class="edit-form" action="~/HardSoftSkills/UpdateSoftSkill" method="post" style="display:none;">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="SkillId" value="@skills.Skill.SkillId" />
                    <input type="hidden" name="SkillType" value="Soft" />
                    <input type="text" name="SkillName" value="@skills.Skill.SkillName" required />
                    <button type="submit" class="btn btn-link p-0">
                        <i class="fa fa-check save-icon" aria-hidden="true"></i>
                    </button>
                </form>

                <!-- Delete Form -->
                <form action="~/HardSoftSkills/DeleteSoftSkill" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@skills.Skill.SkillId" />
                    <button type="submit" class="btn btn-link p-0">
                        <i class="fa fa-times delete-icon ms-3" aria-hidden="true"></i>
                    </button>
                </form>

                <!-- Edit Icon -->
                <i class="fa fa-pencil edit-icon ms-3" aria-hidden="true"></i>
            </div>
        }
    }
</div>

<div class="input-container mt-5 ms-3 me-3">
    <h4 class="mb-3">Nombre Soft Skill</h4>
    <form action="~/HardSoftSkills/CreateNewSoftSkill" method="post">
        <div class="mb-3">
            <input type="number" value="@ViewBag.UserId" id="UserId" name="UserId" class="form-control d-none" />
            <input type="text" name="SkillName" class="form-control" placeholder="Ingrese el soft skill" required>
            <input type="hidden" name="SkillType" value="Soft" />
        </div>
        <button type="submit" class="btn btn-primary mt-4">Añadir</button>
    </form>
</div>

<br />
<br />
<br />

<div class="title-edit-container mb-4 ms-3 me-3">
    <h1>MIS HARD SKILLS</h1>
</div>

<div class="preference-tags ms-3 me-3">
    @foreach (var skills in Model)
    {
        @if (skills.Skill.SkillType == "Hard")
        {
            <div class="tag">
                <!-- Display the skill name -->
                <span class="SkillName" data-id="@skills.Skill.SkillId">@skills.Skill.SkillName</span>

                <!-- Edit Form (initially hidden) -->
                <form class="edit-form" action="~/HardSoftSkills/UpdateHardSkill" method="post" style="display:none;">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="SkillId" value="@skills.Skill.SkillId" />
                    <input type="hidden" name="SkillType" value="Hard" />
                    <input type="text" name="SkillName" value="@skills.Skill.SkillName" required />
                    <button type="submit" class="btn btn-link p-0">
                        <i class="fa fa-check save-icon" aria-hidden="true"></i>
                    </button>
                </form>

                <!-- Delete Form -->
                <form action="~/HardSoftSkills/DeleteHardSkill" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@skills.Skill.SkillId" />
                    <button type="submit" class="btn btn-link p-0">
                        <i class="fa fa-times delete-icon ms-3" aria-hidden="true"></i>
                    </button>
                </form>

                <!-- Edit Icon -->
                <i class="fa fa-pencil edit-icon ms-3" aria-hidden="true"></i>
            </div>
        }
    }
</div>

<div class="input-container mt-5 ms-3 me-3">
    <h4 class="mb-3">Nombre Hard Skill</h4>
    <form action="~/HardSoftSkills/CreateNewHardSkill" method="post">
        <div class="mb-3">
            <input type="number" value="@ViewBag.UserId" id="UserId" name="UserId" class="form-control d-none" />
            <input type="text" name="SkillName" class="form-control" placeholder="Ingrese el hard skill" required>
            <input type="hidden" name="SkillType" value="Hard" />
        </div>
        <button type="submit" class="btn btn-primary mt-4">Añadir</button>
    </form>
</div>

<script type="text/javascript" src="~/js/editSkills.js"></script>
